
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<div class="content">
    <div class="wrap">
        <div class="about">
            <h3>About</h3>
            <img src="~/web/images/about_banner.jpg" alt="" />
            <p>
               Welcome! [Vacation Site Name] is a specially designed platform for creating unforgettable vacation memories. It's the perfect stop for travelers seeking natural beauty, luxury accommodations, and unique experiences. We don't just offer a vacation; we bring you a lifestyle filled with peace, comfort, and adventure. Our expert team meticulously plans every detail to ensure you have the best vacation experience. From beaches to mountains, cultural tours to sports activities, [Vacation Site Name] offers a wide range of services to turn your dream vacation into reality.
            </p>
        </div>
    </div>
</div>
